* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    width: 900px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    overflow: hidden; /* Ensures the image doesn't extend beyond the container */
}

.service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.service img {
    width: 100%; /* Makes the image fill the container width */
    height: 100%; /* Makes the image fill the container height */
    object-fit: cover; /* Ensures the image covers the area without stretching */
    border-radius: 5px;
}

.service-info h2 {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
 .service {
        flex-direction: column;
    }

 .container {
        margin-bottom: 20px;
    }
}
