* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

/**************************************************************NAVIGATION************************************************************/
header {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #01204e;
  padding: 1rem 5%;
  color: whitesmoke;
  z-index: 1000;
}
.navigation {
  position: relative;
  padding-left: 30px;
  padding-bottom: 5px;
}

.navigation a {
  color: whitesmoke;
  font-size: 1rem;
  transition: 0.5s;
  margin-right: 20px;
}
.navigation a:hover,
.navigation a:active {
  color: greenyellow;
  font-size: 1.1em;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}
nav ul li img {
  margin-left: 2rem;
}
.button {
  height: 30px;
  width: 100px;
  border-radius: 100px;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: all 0.35s;
}
.button:hover {
  background-color: black;
  color: white;
}
.button:active {
  background-color: whitesmoke;
  color: black;
}
header img {
  height: 70px;
  width: 150px;
  border-radius: 15px;
  margin-right: 10px;
}
header span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  cursor: pointer;
}

/***************************************************HOME******************************************************************/
.home {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      rgba(20, 10, 60, 0.5),
      rgba(20, 10, 60, 0.5)
    ),
    url("./Photos/back2.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-color: #050e0cd6;
  color: whitesmoke;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
}

.buttonimage {
  color: blue;
  background-color: black;
  color: white;
  width: 300px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 50px;
}
.button img {
  height: 20px;
  width: 70px;
  padding-top: 10px;
}
.home h1 {
  color: linear-gradient(greenyellow, blue);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 100px;
}
.home .carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carousel img {
  height: 200px;
  width: 200px;
  border-radius: 50px;
  margin-left: 20px;
  margin-top: 50px;
  cursor: pointer;
  transition: transform 0.6s;
  margin-bottom: 30px;
}
.carousel img:hover {
  transform: rotateY(180deg);
}
h5 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
